.navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.navigation__button {
  display: grid;
  place-items: center;
  background-color: var(--color-green);
  border: none;
}

.navigation__button--active {
  background-color: var(--color-olive);
}
