<nav class="navigation">
  <button class="navigation__button navigation__button--active" data-nav="home">
    <img src="../images/home.svg" width="40" height="40" alt="home" />
  </button>
  <button class="navigation__button" data-nav="bookmark">
    <img src="../images/bookmark.svg" alt="bookmark" width="40" height="40" />
  </button>
  <button class="navigation__button" data-nav="create">
    <img src="../images/create.svg" alt="create" width="40" height="40" />
  </button>
  <button class="navigation__button" data-nav="profile">
    <img src="../images/profile.svg" alt="profile" width="38" height="38" />
  </button>
</nav>
