.app-grid {
  display: grid;
  grid-template-rows: 48px 1fr 48px;
}
.app-grid__header {
  background-color: rgb(9, 138, 105);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.app-grid__scrollarea {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow-y: auto;
}

.app-grid__footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
