.app-grid {
  display: grid;
  grid-template-rows: 48px 1fr 48px;
  height: 100vh;
}
.app-grid__header {
  border-bottom: 3px solid var(--color-button);
}

.app-grid__scrollarea {
  overflow-y: auto;
}

.app-grid__footer {
  background-color: var(--color-button);
}
