<section class="card p-20">
  <button class="card__bookmark">
    <img src="../../images/bookmark.svg" alt="" height="40" width="40" />
  </button>
  <h2>Question:</h2>
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua.
  </p>
  <details class="card__answer-box mb-10 ptb-10">
    <summary
      class="card__answer-button mb-10 p-10"
      data-open="Hide answer"
      data-close="Show answer"
    ></summary>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet.
  </details>
  <ul role="list" class="flex-r">
    <li class="card__tag">tag 1</li>
    <li class="card__tag">tag 2</li>
    <li class="card__tag">tag 3</li>
    <li class="card__tag">tag 4</li>
  </ul>
</section>
