.card {
  background-color: var(--color-container);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 10%);
  position: relative;
  display: grid;
  gap: 25px;
  padding: 20px;
  margin-bottom: 20px;
}

.card__bookmark-button {
  border: none;
  background: none;
  position: absolute;
  right: 15px;
  top: -5px;
  cursor: pointer;
}

.card__bookmark-button--saved {
  fill: var(--color-green);
  stroke: var(--color-dark-green);
}

.card__tag-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
.card__tag {
  background: rgba(0, 0, 0, 10%);
  padding: 4px;
}

.card__answer-button {
  width: fit-content;
  background-color: var(--color-green);
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 10%);
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  padding: 10px;
  display: grid;
  place-self: center;
}

.card__answer--hide {
  display: none;
}
