<nav class="app-grid__footer">
  <ul role="list" class="navigation h-48">
    <li class="navigation__button navigation__button--active">
      <a href="../index.html"
        ><img
          class="navigation__button navigation__icon"
          src="../../images/home.svg"
          width="40"
          height="40"
      /></a>
    </li>
    <li class="navigation__button">
      <a href="../bookmarks.html"
        ><img
          class="navigation__icon"
          src="../../images/bookmark.svg"
          alt=""
          width="40"
          height="40"
      /></a>
    </li>
    <li class="navigation__button">
      <a href="../create.html"
        ><img
          class="navigation__icon"
          src="../../images/create.svg"
          alt=""
          width="40"
          height="40"
      /></a>
    </li>
    <li class="navigation__button">
      <a href="../profile.html"
        ><img
          class="navigation__icon"
          src="../../images/profile.svg"
          alt=""
          width="40"
          height="40"
      /></a>
    </li>
  </ul>
</nav>
