<nav class="navigation h-48 w-375">
  <ul role="list" class="display-contents">
    <li class="display-contents">
      <a
        href="./index.html"
        class="navigation__button navigation__button--active"
        ><img
          class="navigation__icon"
          src="../../images/home.svg"
          width="40"
          height="40"
      /></a>
    </li>
    <li class="display-contents">
      <a href="./bookmarks.html" class="navigation__button"
        ><img
          class="navigation__icon"
          src="../../images/bookmark.svg"
          alt=""
          width="40"
          height="40"
      /></a>
    </li>
    <li class="display-contents">
      <a href="./create.html" class="navigation__button"
        ><img
          class="navigation__icon"
          src="../../images/create.svg"
          alt=""
          width="40"
          height="40"
      /></a>
    </li>
    <li class="display-contents">
      <a href="./profile.html" class="navigation__button"
        ><img
          class="navigation__icon"
          src="../../images/profile.svg"
          alt=""
          width="38"
          height="38"
      /></a>
    </li>
  </ul>
</nav>
