<ul role="list" class="navigation">
  <li>
    <a href="../index.html"
      ><img
        class="navigation__button--active"
        src="../../images/home.svg"
        width="40"
        height="40"
    /></a>
  </li>
  <li>
    <a href="../bookmarks.html"
      ><img src="../../images/bookmark.svg" alt="" width="40" height="40"
    /></a>
  </li>
  <li>
    <a href="../create.html"
      ><img src="../../images/create.svg" alt="" width="40" height="40"
    /></a>
  </li>
  <li>
    <a href="../profile.html"
      ><img src="../../images/profile.svg" alt="" width="40" height="40"
    /></a>
  </li>
</ul>
