.navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--color-green);
}

.navigation__button {
  display: grid;
  place-items: center;
}

.navigation__button--active {
  background-color: var(--color-olive);
}

.display-contents {
  display: contents !important;
}
