.profile {
  display: grid;
  gap: 20px;
}

.profile__info {
  display: flex;
  align-items: center;
}

.profile__picture {
  border-radius: 50%;
}

.profile__info > figcaption {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 800;
}

.profile__tag-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 25px;
}
.profile__tag {
  background: rgba(0, 0, 0, 10%);
  padding: 4px;
}

.profile__button {
  width: fit-content;
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 8px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 10%);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1.05em;
  font-weight: 600;
  padding: 10px 20px;
}
