.m-20 {
  margin: 20px !important;
}
.p-20 {
  padding: 20px;
}
.h-200 {
  height: 200px;
}
.w-300 {
  width: 300px;
}

.h-100vh {
  height: 100vh;
}

.flex-r {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
